// src/assets/styles/_variables.scss
@use '../../../assets/styles/variables' as v;

.user-info-row {
   margin-bottom: 8px;

   .user-info-property {
      font-weight: 600;
      color: v.$dark-grey;
      font-size: 14px;
   }
   .user-info-value {
      margin-left: 10px;
      font-size: 14px;
      color: v.$light-grey;
   }
}