// src/assets/styles/_variables.scss
@use '../../assets/styles/variables' as v;



.back-btn {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 4px 30px 4px 20px;
   margin-top: 6px;
   font-size: 12px;
   height: fit-content;

   .back-btn-arrow {
      width: 20px;
      height: 20px;
      filter: invert(100%);
   }
}


@media screen and (max-width: 430px) {
   .back-btn {
      padding: 4px;
      
      span {
         display: none;
      }
   }
}

.user-info-section {
   margin-bottom: 30px;

   .section-header-container {
      display: flex;
      align-items: center;
      margin-left: -10px;
      margin-bottom: 8px;

      .section-title {
         color: v.$dark-torquise;
         font-weight: 400;
         letter-spacing: 1px;
         margin-left: 2px;
         margin: 0;
      }
      
      .section-icon {
         filter: v.$dark-torquise-filter;
         height: 46px;
      }

      .work-icon {
         margin-right: 5px;
         margin-left: 5px;
         width: 43px;
      }
   }
}

