// src/assets/styles/_variables.scss
@use '../../assets/styles/variables' as v;

.bread-crumbs-container {
   padding-bottom: 2px;
   display: flex;
   align-items: center;
   height: 24px;

   .bread-crumbs-main-page {
      font-weight: bold;
      text-decoration: none;
      color: v.$dark-grey;
   }
   
   .link {
      cursor: pointer;
      &:hover {
         text-decoration: underline;
      }
   }

   .bread-crumbs-arrow {
      filter: v.$blue-color-filter;
   }

   .bread-crumbs-sub-page {
      color: v.$light-grey
   }
}


