// App main background color
$app-backgroud-color: #f7f7f7;

// Shared colors
$light-grey: #656a75;
$dark-grey:#414858;
$dark-torquise: #448390;
$torquise: #6bafbd;

// SVG Icon color filters
$blue-color-filter: invert(64%) sepia(4%) saturate(2839%) hue-rotate(135deg) brightness(96%) contrast(101%);
$dark-torquise-filter: invert(44%) sepia(62%) saturate(313%) hue-rotate(143deg) brightness(92%) contrast(91%);

// User box settings
$box-padding: 10px;
$box-margin: 15px;

// Loading wheel settings
$loading-wheel-size: 40px;
$loading-wheel-color: $torquise;